/* Animated Background */
.stApp > header {
    background-color: transparent;
}

.stApp {
    background: linear-gradient(45deg, #15FF00 30%, #00FF73 45%, #00C3FF 55%, #0062FF 90%);
    animation: my_animation 20s ease infinite;
    background-size: 200% 200%;
    background-attachment: fixed;
    color: black;
}

@keyframes my_animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

[data-testid="stWidgetLabel"] p{
    color: black !important;
}


[data-testid="stBaseButton-secondary"] {
    background-color: rgba(255, 255, 255, 0.2) !important; /* semi-transparent */
    color: #ffffff !important; /* couleur du texte */
    border: none !important;
    box-shadow: none !important;
}

/* Optionnel : hover */
[data-testid="stBaseButton-secondary"]:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

div[data-testid="stVerticalBlockBorderWrapper"][height="250"] {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

div[data-testid="stVerticalBlockBorderWrapper"][height="250"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.34),
                0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255,255,255,0.2);
    color: #000000;
}